@model IEnumerable<ConcesionarioMVC.Controllers.CocheController.CocheTotal>

@{
    ViewBag.Title = "ListadoPorTaller";
}

<h2>ListadoPorTaller</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<form method="get">
    <div align="center">
        @Html.DropDownList("tallerID", "Selecciona un taller")
        <input type="submit" value="Buscar!"/>
    </div>
</form>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.matricula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.modelo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.titular)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.matricula)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.modelo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.titular)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
